{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Articles</title>
    <!--<link rel="stylesheet" href="/static/style.css"> --->
    <!-- above methood is not wrong because its hard coded, everytime we update the setting.py static folder we need to udpate this so we use python way  -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header class="wrapper">
        <h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png'%}"></a></h1>
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'account:logout'%}" methood="post">
                    {% csrf_token %}
                    <button type="submit">Logout </button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>